#root {
  max-width: 1280px;
  min-height: 800px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  position: relative;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

footer{
  position: absolute;
  bottom: 0;
}
